{{template "base" .}}

{{define "title"}} RPS web - Acerca de {{end}}

{{define "content"}}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de la Aplicacion</h2>
                <p>Esta aplicacion web del juego Piedra, Papel o Tijera fue desarrollada con el lenguaje de programacion
                    GO,
                    utilizando tambien JAVASCRIPT, HTML y CSS.</p>
                <p>Se desarrollo con el objetivo de ir aprendiendo cada vez mas sobre este lenguaje de una forma
                    didactica como lo es el famoso juego de Piedra Papel o Tijera.</p>
            </div>
        </div>
    </div>
</section>

{{end}}